body {
  font-family: 'Roboto Light', 'Arial', sans-serif;
  color: $white;
  max-width: 1366px;
  background-color: $background-black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


