// Colors
$background-black: #181617;
$very-dark-grey: #1F1C1D;
$golden-brown: #A07B50;
$white: #fff;
$transparent-white: rgba(255, 255, 255, 0.72);
$very-transparent-white: rgba(255, 255, 255, 0.2);
$beige: #DDD0C3;
$light-beige: #D6CCC2;
$very-light-beige: #FDF2E6;

// Viewports
$mobile-view: 320px;
$tablet-view: 768px;
$desktop-view: 1366px;
